* {
  box-sizing: border-box;
}

.footer-bs {
  background-color: #3c3d41;
  padding: 60px 40px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  padding: 10px 25px;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
  border-color: transparent;
}

.footer-bs .footer-brand h2 {
  margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-bs .footer-nav ul.pages {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-transform: uppercase;
}

.footer-bs .footer-nav ul.pages a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-bs .footer-nav h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-nav ul.list li {
  padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
  color: rgba(255, 255, 255, 0.8);
}

.footer-bs .footer-nav ul.list a:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-bs .footer-social ul {
  list-style: none;
  padding: 0px;
}

.footer-bs .footer-social h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-bs .footer-social li {
  padding: 5px 4px;
}

.footer-bs .footer-social a {
  color: rgba(255, 255, 255, 1);
}

.footer-bs .footer-social a:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer-bs .footer-ns h4 {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.footer-bs .footer-ns p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 768px) {

  .footer-bs .footer-nav,
  .footer-bs .footer-social,
  .footer-bs .footer-ns {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
}

.direction {
  direction: rtl;
}

.footer-bs {
  margin-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  text-align: center;
  background-color: #3c3d41;
  color: rgba(255, 255, 255, 1);
  margin-top: -50px;
}

.margining {
  margin-top: 30px;
}

.line-height {
  line-height: 3rem;
}

/* carousel: */
/* carousel header */
div#carouselId {
  position: relative;
  overflow: hidden;
  box-shadow: 3px 3px 3px gray;
}

/* #carouselId:hover>div.header {
  top: 0;
} */

#carouselId>div.header {
  position: absolute;
  z-index: 2000;
  /* top: -50%; */
  left: 0;
  right: 0;
  padding: 2rem 1rem;
  transition: 750ms;
}

#carouselId>div.header>ul {
  list-style-type: none !important;
  direction: rtl;
  border-radius: 5px;
  background-color: rgba(112, 112, 112, 0.5);
}

#carouselId>div.header>ul>li {
  display: flex;
  align-items: center;
  justify-content: center;
}

#carouselId>div.header>ul>li>a {
  font-size: 1.75rem;
  display: inline-block;
  text-decoration: none;
  color: white;
  width: 100%;
  /* padding: 1rem 0; */
  border-radius: 5px;
}

#carouselId>div.header>ul>li>a:not(.logo-container) {
  padding: 1rem 0;
}

#carouselId>div.header>ul>li>a:hover:not(.logo-container) {
  background-color: rgba(0, 0, 0, 0.5);
}

#carouselId::after {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(247, 211, 242, 0.5), rgba(189, 204, 235, 0.5));
}

.carousel-inner {
  box-shadow: 1px 1px 30px black;
}

.carousel-item>img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 10;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  color: white !important;
  padding: 2rem !important;
}

.carousel-caption {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.carousel-caption>h3 {
  direction: rtl;
  position: absolute;
  top: 30%;
  right: 15%;
  font-size: 1.5rem;
  color: yellow;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  opacity: 0;
}

h3#first {
  -webkit-animation-name: drag_from_left;
  animation-name: drag_from_left;
}

h3#second {
  -webkit-animation-name: appear;
  animation-name: appear;
}

h3#third {
  -webkit-animation-name: drag_from_right;
  animation-name: drag_from_right;
}

@-webkit-keyframes drag_from_left {
  from {
    opacity: 0;
    right: 100%;
  }

  to {
    opacity: 1;
    right: 15%;
  }
}

@keyframes drag_from_left {
  from {
    opacity: 0;
    right: 100%;
  }

  to {
    opacity: 1;
    right: 15%;
  }
}

@-webkit-keyframes appear {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes drag_from_right {
  from {
    opacity: 0;
    right: -100%;
  }

  to {
    opacity: 1;
    right: 15%;
  }
}

@keyframes drag_from_right {
  from {
    opacity: 0;
    right: -100%;
  }

  to {
    opacity: 1;
    right: 15%;
  }
}

img.rotate-img {
  transform: rotateY(180deg);
}

.carousel-caption>h5 {
  direction: rtl;
  position: absolute;
  top: 50%;
  right: 15%;
  color: white;
  text-align: right;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px black, -1px -1px 3px black;
  opacity: 0;
  -webkit-animation-name: appear2;
  animation-name: appear2;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@-webkit-keyframes appear2 {
  from {
    opacity: 0;
    right: 100%;
  }

  to {
    opacity: 1;
    right: 15%;
  }
}

@keyframes appear2 {
  from {
    opacity: 0;
    right: 100%;
  }

  to {
    opacity: 1;
    right: 15%;
  }
}

.carousel-caption>a {
  border-radius: 5px;
  direction: rtl;
  position: absolute;
  top: 70%;
  right: 15%;
  opacity: 0;
  background-color: gray;
  -webkit-animation-name: link_appear_with_delay;
  animation-name: link_appear_with_delay;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes link_appear_with_delay {
  from {
    opacity: 0;
    right: 30%;
  }

  to {
    opacity: 1;
    right: 15%;
  }
}

@keyframes link_appear_with_delay {
  from {
    opacity: 0;
    right: 30%;
  }

  to {
    opacity: 1;
    right: 15%;
  }
}

@media screen and (max-width: 1051px) {
  div#carouselId>div.header>ul>li>a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 863px) {

  div#carouselId>div.header>ul>li>a,
  .carousel-caption>h3 {
    font-size: 1rem;
  }

  .carousel-caption>h5 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .carousel-caption>h5 {
    /* font-size: 1rem; */
    line-height: 2.5rem;
  }
}

main>div>p {
  line-height: 2rem;
}

footer form>button>span {
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 2rem;
  border: 3px solid black;
}