section.swiper>h1 {
  direction: rtl;
}

.sport .swiper-container {
  height: 400px;
  width: 80%;
  padding: 0 2rem 4rem 2rem;
}

.sport .swiper-wrapper {
  align-items: center;
}

.sport .swiper-slide {
  border-radius: 7px;
}

.sport .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 1px 1px 3px gray;
}

section.women {
  width: 100%;
  overflow: hidden;
}

section.women .swiper-container {
  position: relative;
  width: 25%;
  height: 500px;
  left: 0;
  right: 0;
}

section.women .swiper-slide {
  /* box-shadow: 3px 3px 3px gray, -3px -3px 3px gray; */
  background-size: 100% 100%;
  box-sizing: border-box;
}